# Ignore all .log files
*.log

# Ignore all files in the logs directory
logs/

# Ignore all files in any directory named temp
**/temp/

# Ignore all .env files
*.env

# Ignore all files except README.md
/*
!README.md
